<div class="fondo">

  <div class="row" style="height: 100%; width: 100%; margin: 0;">
    <div class="col-md-8" style="padding: 0;">
      <div class="row logo-seguridad-patrimonial text-center">
        <div class="col-md-12">
          <img class="logo" src="assets/resources/Login/Logo.png" alt="">
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Bienvenido</h2>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            <img class="svg-login" src="assets/resources/Login/User.svg" alt="">
            <mat-form-field class="ps-2" appearance="legacy">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="">
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
  
          <p>
            <img class="svg-login" src="assets/resources/Login/Candado.svg" alt="">
            <mat-form-field class="ps-2" appearance="legacy">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="">
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
  
          <p>
            <button class="btn btn-azul btn-md">
              Register
            </button>
          </p>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-12">

          <img src="assets/resources/Axess logo color.svg" width="150" alt="">
        </div>
      </div>
    </div>

    <div class="col-md-4" style="padding: 0; position: relative;">
      <img class="logo-lateral" src="assets/resources/Login/Lateral.png" style="width: 100%;" alt="">
    </div>
  </div>
  
  <div class="container">


  </div>

</div>
