<div class="fondo">
  <div class="row">
    <div class="col-md-8 my-auto">
      <div class="row logo-seguridad-patrimonial text-center">
        <div class="col-md-12">
          <img class="logo img-fluid" src="assets/resources/Login/Logo.png" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <p class="h5 mt-3">
            Te enviaremos un correo para reestablecer la contraseña
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <form (ngSubmit)="onSubmit()" [formGroup]="forgottenPasswordFormGroup" id="form-logIn" ngNativeValidate>
            <p class="m-2">
              <img class="svg-login" src="assets/resources/Login/User.svg" alt="">
              <mat-form-field class="ps-2" appearance="legacy">
                <mat-label>Ingresa tu correo</mat-label>
                <input type="email" formControlName="usuario" matInput placeholder="">
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </p>
            
            <p>
              <button class="btn btn-azul btn-md" [disabled]="!forgottenPasswordFormGroup.valid">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                  <path fill-rule="evenodd"
                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                </svg>
                Enviar correo
              </button>
            </p>
          </form>
        </div>
      </div>

      <div class="row text-center" style="margin-top: 20vh;">
        <div class="col-md-12">
          <img src="assets/resources/Axess logo color.svg" width="150" alt="">
        </div>
      </div>
    </div>

    <div class="col-md-4 d-none d-lg-block" style="padding: 0; position: relative;">
      <img class="logo-lateral" src="assets/resources/Login/Lateral.png" style="width: 100%;" alt="">
    </div>
  </div>

</div>
