#navbar-footer {
  background-color: #eeeeee;
  /* direction: rtl; */
  /* height: 100px; */
}

.logo-axess {
  width: 7%;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 1200px) {
  .logo-axess {
    width: 15%;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* color: white; */
}